{{ 'section-embed-video.css' | asset_url | stylesheet_tag }}
{{ 'fancybox.css' | asset_url | stylesheet_tag }}
<script src="{{ 'fancybox.js' | asset_url }}" defer="defer"></script>
{%- if thumbImage != blank -%}
  {%- liquid
    assign highest_ratio = 1.5
    if thumbImage.aspect_ratio > highest_ratio
      assign highest_ratio = thumbImage.aspect_ratio
    endif
  -%}
  <div class="embed-video multicolumn-card__image-wrapper multicolumn-card__image-wrapper--adapt-width multicolumn-card-spacing">
    <div
      class="media media--transparent media--transparent"
      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
    >
      {%- liquid
        assign number_of_columns = columns_desktop
        assign number_of_columns_mobile = 1
        assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
        assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
        assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
        assign image_width = 1
      -%}
      {% capture sizes %}
      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
    {% endcapture %}

      {{
        thumbImage
        | image_url: width: 500
        | image_tag:
          loading: 'lazy',
          widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
          sizes: sizes,
          class: 'multicolumn-card__image'
      }}
      <span class="play iframe-play">
        <span class="inner-wrap inner">
          {% render 'icon--play' %}
        </span>
      </span>
    </div>
    <a
      href="{{ embedUrl }}"
      class="product__media-toggle product__media-iframe"
      data-fancybox="iframe"
      data-type="iframe"
    >
      <span class="visually-hidden">
        {{- 'products.product.video_exit_message' | t: title: product.title | escape -}}
      </span>
    </a>
  </div>
{%- endif -%}
<script src="{{ 'fancybox-iframe.js' | asset_url }}" defer="defer"></script>
